{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Reset Password",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "reset-password",
  name: "reset-password",
  hint: {
    text: "Enter your email address below to reset your password"
  }
}) }}

{{ govukButton({
  text: "Submit"
}) }}

{% endblock %}
